{% extends 'main.html' %}

{% block content %}

<body>
        <table class="table" style="width: 50%;">
            <tr>
                <th>Data da amostra</th>
                <th>Classificação final</th>
                <th>Ação sugerida</th>
                <th>Ação executada</th>
                <th>Data da ação</th>
            </tr>
            <tr>
                <td>17/12/2006</th>
                <td>09</th>
                <td>Borrife água</th>
                <td>Nenhuma</th>
                <td>15/12/2009</th>
            </tr>
        </table>


</body>
</html>

{% endblock %}