{% extends 'main.html' %}

{% block content %}

<body>
        <table class="table" style="width: 50%;">
            <tr>
                <th>Cultivo</th>
                <th>Data de início</th>
                <th>Data de término</th>
                <th>Número de plantas</th>
                <th>Área total</th>
                <th>Tipo de cultivar</th>
                <th>Forma</th>
                <th>Agricultor</th>
                <th>Agricultor</th>
                <th>Propriedade</th>
                <th>Talhão</th>
            </tr>
            <tr>
                <td>10</td>
                <td>1000</td>
                <td>700</td>
                <td>Campo</td>
                <td>José</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
            </tr>
        </table>


</body>
</html>

{% endblock %}