{% extends 'main.html' %}

{% block content %}

<body>
        <table class="table" style="width: 50%;">
            <tr>
                <th>Produtos</th>
                <th>Compatiblidade com<br>
                ácaros Rajados</th>
                <th>Compatiblidade com<br>
                    ácaros Californicus</th>
            </tr>
            <tr>
                <td>10</td>
                <td>1000</td>
                <td>700</td>
            </tr>
        </table>


</body>
</html>

{% endblock %}