{% extends 'main.html' %}

{% block content %}

<body>
        <table class="table" style="width: 50%;">
            <tr>
                <th>Propriedade</th>
                <th>Distrito</th>
                <th>Telefone</th>
                <th>Agricultor</th>
            </tr>
            <tr>
                <td>Maria</th>
                <td>1234567-89</th>
                <td>duda.duda@gmail.com</th>
                <td>27 997432780</th>
            </tr>
        </table>


</body>
</html>

{% endblock %}